.eggs
.git
.github
.ropeproject
.editorconfig
.gitignore
.venv
__pycache__
.pytest_cache
.ruff_cache
.mypy_cache
mutants
dist
build
*.egg-info
coverage.xml
.coverage
docs
Dockerfile
.pre-commit-config.yaml
